<p id="notice"><%= notice %></p>

<% if @user.image %>
	<%= image_tag(@user.image) %>
<% end %>

<% if @user.name %>
	<h1>
	  Hello <%= @user.name %>! Welcome to Omniauth Trial!
	</h1>
<% end %>
<% if @user.location != "" %>
  <p>How's it hanging in <%= @user.location %>?</p>
<% end %>
<% if @user.description != "" %>
	<p>Would you say this describes you: <%= @user.description %>?</p>
<% end %>
<% if @user.phone %>
  <p>Can I call you at <%= @user.phone %>?</p>
<% end %>
<% if @user.email %>
	<p>Can I send you a message at <%= @user.email %></p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
